!!!
%html{:lang => "en", "data-scrollable" => "unlocked", "data-nav" => "hidden"}

  = Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render(Object.new, :locals => "Pass a variable")

  %body

    #svgInject.visuallyhidden
      / inject:svg
      / endinject

    = Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render(Object.new, :locals => "")

    %main.page__main{:role => "main"}
      = Haml::Engine.new(File.read("dev/haml/partials/_sec_1-intro.haml")).render(Object.new, :locals => "")

    = Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render(Object.new, :locals => "")
