!!!
%html{:lang => 'en'}

	= Haml::Engine.new(File.read('dev/haml/_head.html.haml')).render

	%body

		:plain
			<!-- inject:svg --><!-- endinject -->

		%main{:role => 'main'}

			%section
				%article
					%h1 Hello and Welcome

			= Haml::Engine.new(File.read('dev/haml/_footer.html.haml')).render