// ==|== main styles ===========================================================
// =============================================================================

// Variables
// -----------------------------------------------------------------------------
$hex-gray: #828282;

// Foundation
// -----------------------------------------------------------------------------
html {
  @include htmlScrollLock;
  font-family: 'brandon-txt';
}
body {
  position: relative;
  animation: animFade 600ms ease-in-out 60ms both;
}
main {
  @include container(128rem);
}
::selection {
  color: white;
  background-color: blue;
}

@media only screen and (min-width: 568px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1200px) {
}
