// Mixins
// -----------------------------------------------------------------------------
@mixin media($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}
@mixin toggleVisibility($state) {
  @if ($state == "off") or ($state == "none") or ($state == "hide") or ($state == "hidden") {
    opacity: 0;
    visibility: hidden;
  } @else {
    opacity: 1;
    visibility: visible;
  }
}
@mixin posCover($pos: static, $index: 1) {
  z-index: $index;
  @if $pos == "reset" {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0;
  } @else {
    position: $pos;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
@mixin container($max-width: none) {
  @if $max-width == "reset" {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  } @else if $max-width == "reset-img" {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  } @else {
    margin-left: auto;
    margin-right: auto;
    max-width: ($max-width / 10) + rem;
  }
}
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
