// Animations
// -----------------------------------------------------------------------------
@keyframes anim360 {
  to { transform: rotate(360deg); }
}
@keyframes animFade {
    0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes animHide {
    0% { opacity: 1; left: 0; }
   99% { opacity: 0; left: 0; }
  100% { opacity: 0; left: -200%; }
}
@keyframes animCardZoom {
  to { transform: scale(1); }
}
@keyframes animProgressFill {
  0% { width: 0%; }
}
