// ==|== main styles ===========================================================
// =============================================================================

// Placeholders & Common Classes
// -----------------------------------------------------------------------------
%padding__common {
  padding: 3.2rem 1.6rem;
}

// Foundation
// -----------------------------------------------------------------------------
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: $hex__sky;
}
@import 'main--bodylock';


// ==|== media queries =========================================================
// =============================================================================

@include media($vw_1080p-landscape) {
  html { font-size: 75%; } // 12px
}
@include media($vw_imac-landscape) {
  html { font-size: 87.5%; } // 14px
}
