// ==|== main styles ===========================================================
// =============================================================================

// Variables
// -----------------------------------------------------------------------------
$hex-gray: #828282;

// Page
// -----------------------------------------------------------------------------
html {
  // @include html-scroll-lock;

  @include breakpointMin(breakpoint('portrait-tablet')) {
    // stuff
  }
}

main {
  @include container(128rem);
}

::selection {
  color: white;
  background-color: blue;
}
